* {
    background-color: white;
    color: black;
}

nav {
    background-color: var(--primary-color);
}

.hero {
    height: 50vh;
    width: 100vw;
    display: flex; /* Flexbox to position elements next to each other */
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
}

.hero .hero-img {
    height: 30vh;
    max-width: 40%;
    background-color: blue;
    margin-right: 2vw; /* Adds space between the image and the intro */
    margin-left: 0;
}

.hero-img img {
    height: 100%; /* Ensure the image fills the container */
    width: auto; /* Maintain aspect ratio */
}

.hero .hero-intro {
    max-width: 40%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center text vertically */
    align-items: flex-start; /* Align text to the left */
    padding: 1vw;
}
