<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shots By Jesus</title>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        * {
            --primary-color: {{ .Params.primary_color }};
            --secondary-color: {{ .Params.secondary_color }};
            --text-color: {{ .Params.text_color }};
        }
    </style>
</head>
<body>
    <a href="javascript:void(0);" class="hamburger" id="hamburger" onclick="navFunction()">
        &#9776; <!-- Hamburger icon -->
    </a>
    <nav id="nav-list">
        <img class="nav-logo" src="/camera icon.png" alt="camera icon">
        <ul id="navlinks">
            <li><a class="navlink" href="/">Home</a></li>
            <li><a class="navlink" href="/#gala">Galleries</a></li>
            <!--<li><a class="navlink" href="/about">About</a></li>-->
            <!--<li><a class="navlink" href="/">Contact</a></li>-->
        </ul>
    </nav>
    <script>
    function navFunction() {
        var screenWidth = window.innerWidth || document.documentElement.clientWidth;

        if (screenWidth < 768) {
            //Togle navigation menu
            var x = document.getElementById("navlinks")
            if (x.style.display === "block") {
                x.style.display = "none"
            } else {
                x.style.display = "block"
            }
        }
    }
    </script>
    {{ block "main" . }}
    {{ end }}
    <footer>
        <p>&copy; 2024 Andrew Jesus.  All rights reserved.</p>
    </footer>
    <script>
    // Function to toggle the scrolled class based on scroll position
        window.addEventListener('scroll', function() {
            var navbar = document.getElementById('nav-list');
            
            // Add the 'scrolled' class if the page has been scrolled more than 50px
            if (window.scrollY > 50) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        });

        // Handle screen resizing to reset the nav menu display
        window.addEventListener('resize', function() {
            var x = document.getElementById("navlinks");
            var screenWidth = window.innerWidth || document.documentElement.clientWidth;

            // For larger screens (768px and above), reset display to flex
            if (screenWidth >= 768) {
                x.style.display = "flex";
            } else {
                // For smaller screens, hide the menu if it's not toggled
                x.style.display = "none";
            }
        });
        </script>
</body>
</html>