{{ define "main" }}
    <head>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <section class="hero">
        <div class="text">
            <h1>Shots by Jesus</h1>
            <p>Capture moments, tell stories</p>
        </div>
    </section>
    <section class="featured-gallery" id="gala">
        <h1>Galleries</h1s>
        <div class="gallery">
            {{ range where .Site.Pages "Section" "galleries" }}
                {{ if not .IsSection }}
                    <div class="gallery-item">
                        <a href="{{ .Permalink }}">
                            <img src="{{ .Params.featured_image }}" alt="{{ .Title }}">
                        </a>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </section>
{{ end }}